*{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
  

/* NAVBAR */

  .NavBar{
    background: #FF2615;
    display: flex;
    height: 80px;
  }

  .NavBar .NavLogo{
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 45px;
  }

  .NavBar .NavLinks{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 45px;
  }

  .NavBar .NavLinks .links{
    max-height: 80px;
  }

  .NavBar .NavLinks .links a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 15px;
    padding: 10px 10px;
  }

  #links:hover{
    background-color: #CB1E11;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    }

  .nav-logo:hover{
    filter: invert(100%)
  }


    /* home page style */
  .page-home{
    background-image: url(./assets/HomeBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
   
    display: flex;
    flex-direction: column;

  }

 h1{
    color: #FFFFFF;
    font-size: 75px;
  }

.c-icon{
  width: 150px;
}
  .cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    gap: 20px;
    width: 100%;
    height: 100%;
  }

  .cta-links{

    color: #FFFFFF;
    text-decoration: none;

  }

  .cta-links:hover{
    color: #CB1E11;
  }

  /* LOGIN ? SINGIN */
.main-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 48px 32px;
  gap: 32px;
  left: 41px;
  top: 180px;
  height: 850px;
  margin: 50px 120px;
  min-width: 200px;
  padding: 45px;
  border-radius: 20px;
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);


  background: #87FFF3;
}

.main-container h1 {
  color: black;
}

.main-container .form-container{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 40px;
  gap: 24px;
  
  min-width: 448px;
  min-height: 150px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.main-container .form-container input {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  font-size:  18px;
  border-radius: 5px;
  text-align: left;
}
.main-container .form-container select {
  width: 421px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  font-size:  18px;
  border-radius: 5px;
  text-align: left;
}

.main-container .form-container button {

  background: #FF2615;
  color: white;
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 5px;
  font-size:  15px;
  font-weight: 600;
}

.main-container .form-container button:hover {
  background-color: #CB1E11;
  cursor: pointer;
}

/*Rider Card*/

.list-container{
  padding: 45px;
  margin: 75px;
}
.song-card {
  display:grid;
  grid-template-columns: 15% 15% 10% 10% 10% 30% 10%;
  align-items:center;
  border-bottom: 1px solid lightgrey;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.song-card p, h3 {
  text-align: left;
}

.song-card-buttons {
  align-items: left;
}

.song-card-buttons button {
  background-color: #FFFFFF;
  color: #FF2615;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.song-card-buttons button:hover {
  color: #CB1E11;
  cursor: pointer;
  padding-left: none;
}

.song-image{
  max-width: 100px;
  
}

.column-headers {
  display:grid;
  grid-template-columns: 15% 15% 10% 10% 10% 30% 10%;
  border: 1px solid lightgrey;
  background-color: #f0ecec;
  align-items: center;
  min-height: 35px;
}

.column-headers h4 {
  border-right: 1px solid lightgrey;
  text-align: left;
  padding-left: 10px;
}

.hero-section {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/HomeBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  margin: 50px 120px;
  min-width: 200px;
  padding: 45px;
  border-radius: 20px;
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.hero-section h2{
  color: #FF2615;
  font-size: 50px;
}

.page-title {
  color: #7e7e7e;
  font-size: 30px;
  display: grid;
  place-items: center;
  margin-top: 75px;
}
