*{

    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    
  }

 .nav-logo:hover{
  filter: invert(100%)
 }

  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100% vw;
    height: 64px;
    background: #FF2615;
    
  }
  .navContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    gap: 75%;
    width: auto;
    height: 64px;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 927px;
    height: 36px;
  }
  

.links{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 321px;
}
  #links{

    color: #FFFFFF;
    text-decoration: none;
    flex-direction: row;
    align-items: space-between;
    padding:10px 10px;

  }
  #links:hover{
    background-color: #CB1E11;
    padding:10px 10px;
    border-radius: 5px;
    
  }
